html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

#home {
  height: 100%;
  width: 100%;
  background: url('../images/background.png') bottom center;
  padding-top: 125px;
}

.logo {
  width: 400px;
  margin: 0 auto;
  display: block;
}

.controls {
  margin-top: 20px;
}

.score {
  position: absolute;
}

.score-bottom-right {
  bottom: 70px;
  right: 30px;
}

.score-top-left {
  top: 70px;
  left: 30px;
}

canvas {
  margin: 0 auto;
  display: block;
}
